.button {
  padding: 4px 8px;
  display: flex;
  align-items: center;
  gap: 10px;

  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  border: 4px solid var(--border-color);
  transition: background-color var(--transition);
}

.button:hover,
.button:focus {
  background-color: var(--border-color);
}

.button > span {
  font-size: 16px;
  color: white;
}

.button > svg {
  width: 16px;
  height: 16px;
  fill: var(--text-color);
}

@media screen and (min-width: 480px) {
  .button {
    padding: 6px 8px;
  }

  .button > svg {
    width: 20px;
    height: 20px;
  }

  .button > span {
    font-size: 18px;
  }
}

@media screen and (min-width: 800px) {
  .button {
    padding: 8px 12px;
  }

  .button > svg {
    width: 26px;
    height: 26px;
  }

  .button > span {
    font-size: 20px;
  }
}
