.wrap {
  margin: 40px;
}

.customer {
  padding: 20px;
  display: inline-block;
  background-color: var(--bg-header-color);
  border-radius: var(--border-radius);
}

.contentWrap {
  display: flex;
  justify-content: center;

  margin-bottom: 20px;
}

.customerTitle {
  margin-bottom: 10px;

  text-align: center;
}

.customerWrap {
  display: flex;
  justify-content: center;
}

.customerInfo {
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;

  border-radius: var(--border-radius);
  background-color: var(--bg-color);
}

.customerInfo span {
  color: var(--text-color);
}

.backButton {
  display: inline-block;
  margin-top: 30px;
  margin-left: 20px;
}

.buttonWrap {
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
  .wrap {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .buttonWrap {
    margin-bottom: 0;
  }
}
