.root {
  display: flex;
  justify-content: space-around;
  background-color: var(--bg-header-color);
  padding: 30px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-size: 36px;
}

.authRoot {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;

  border-radius: var(--border-radius);
  background-color: var(--bg-color);
}

.authInfo {
  text-align: right;
}

.authInfo span {
  display: block;
  color: var(--text-color);
}

.authIcon {
  width: 35px;
  height: 35px;
}
