.drawer {
  padding: 5px;
  min-width: 200px;

  background-color: var(--bg-color);
}

.link:hover {
  cursor: pointer;
}

.nameDrawer {
  min-width: 200px;

  background-color: var(--bg-color);
}

.link {
  color: inherit;
  display: block;
  padding: 15px;
}

.iconBox {
  padding: 5px;
  background-color: transparent;
}

.iconButton {
  padding: 5px;
}

.iconButton:hover {
  cursor: pointer;
}

.icon {
  width: 25px;
  height: 25px;
}

@media screen and (min-width: 800px) {
  .link {
    padding: 20px;
  }

  .drawer {
    padding: 10px;
  }
}
